.GrimNav-Items{
    background: linear-gradient(90deg,rgb(4, 109, 10)0%,rgb(117, 226, 123)100%);
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}

.nav-logo{
    color:#111312;
    justify-self: start;
    font-family: 'Yellowtail', cursive;
    margin-left: 20px;
    cursor: pointer;
}
.fa-futbol {
    margin-left: 0.5rem;
    font-size: 2.2rem;
    
}
.fa-baseball-ball {
    margin-left: 0.5rem;
    font-size: 2.2rem;
}
.nav-menu{
    display:grid;
    grid-template-columns: repeat(5,auto);
    font-family: 'Roboto', sans-serif;
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
}
.nav-links{
    color: rgb(5, 5, 39);
    text-decoration: none;
    padding: 2.5rem;
}

.nav-links:hover{
    background-color: #1db822;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.fa-bars{
    color: white;
}
.fa-times{
    color: white;
}
.nav-links-mobile{
    display: none;
}
.Menu-icon{
    display: none;
}


@media screen and (max-width: 960px) {
    .GrimNav-Items {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: linear-gradient(180deg,rgb(38, 109, 4)0%,rgb(32, 172, 67)100%);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: #33cc2d;
        border-radius: 0;
    }

    .nav-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .Menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: #fff;
        font-size: 2rem;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        background: #70ce44;
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
    }

    .nav-links-mobile:hover {
        background: rgb(10, 92, 7);
        color: #5dbb46;
        transition: 250ms;
    }

    GrimButtons{
        display: none;
    }
}